<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>任务计划管理</title>
	<link rel="stylesheet" href="../style/animation.css">
	<link rel="stylesheet" href="../style/fe-Wpublic.css">
	<link rel="stylesheet" href="../style/jedate.css">
	<link rel="stylesheet" href="../style/fe-misManage.css">
</head>
<body>
<div class="fe-container">
	<!--头部-->
	<div class="fe-mis_head flex">
		<div class="fe-mis_head_searchBox">
			<input class="abs" type="text" v-model="headSearchStr">
			<i class="abs searchIcon" v-show="isEmpty"></i>
		</div>
		<span class="fe-mis_head_switch"></span>
	</div>
	<!--内容-->
	<div class="fe-mis_content flex">
		<!--左侧tab栏-->
		<div class="fe-mis_sideBar">
			<div class="fe-mis_sideBar_headImgBox flex">
				<img src="../images/example.jpg" alt="" class="headPotrait">
				<p class="name">测试人</p>
				<p class="type">管理员</p>
			</div>
			<div class="fe-mis_sideBar_selectBox">
				<ul>
					<mis-menu 
					v-for="(item,index) in menuDatas"
					:key="index"
					:model="item">
					</mis-menu>
				</ul>
			</div>
		</div>
		<!--右侧内容-->
		<div class="fe-mis_rightCon">
			<div class="fe-mis_rightCon_Box">
				<keep-alive>
					<component :is="componentName"></component>
				</keep-alive>
			</div>
		</div>
	</div>
	<!--  -->
</div>
<script src="../script/jquery-3.2.1.min.js"></script>
<script src="../script/jquery.jedate.min.js"></script>
<script src="../script/vue.min.js"></script>
<script src="../script/echarts.common.min.js"></script>
<script src="../script/fe-pagePublic.js"></script>
<script src="../script/fe-missionManage.js"></script>
<!--任务审批-->
<script type="text/x-template" id="task-approval">
	<div class="fe-mis_component">
		<div class="fe-mis_task-approval bgNone">
			<table class="fe-mis_table bgLine ds-tableRes">
				<thead>
					<tr>
						<td>任务名称</td>
						<td>类型</td>
						<td>创建时间</td>
						<td>计划开始时间</td>
						<td>提交时间</td>
						<td>考核时间</td>
						<td>评分</td>
						<td>任务状态</td>
						<td>责任人</td>
						<td>监督人</td>
						<td>操作</td>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>任务名称</td>
						<td>计划开始时间类型</td>
						<td>创建时间</td>
						<td>计划开始时间</td>
						<td>提交时间</td>
						<td>考核时间</td>
						<td>评分</td>
						<td>任务状态</td>
						<td>责任人</td>
						<td>监督人</td>
						<td>操作</td>
					</tr>
				</tbody>
			</table>
			<div class="fe-mis_ta_wrap fe-mis_basic" v-show="showVersion">
				<ul class="fe-mis_ta_verList flex">
					<li 
						class="fe-mis_ta_verListItem"
						v-for="(item,index) in tabsData"
						:class="{select:item.isSelect}"
						v-text="item.txt"
						@click="tabVersion(index)"
					></li>
				</ul>
				<ta-version
					v-for="(item,index) in versionData"
					:key="index"
					:model="item"
					:is-show="item.isShow"
				></ta-version>
			</div>
		</div>
	</div>
</script>
<!--相关事务-->
<script type="text/x-template" id="related-affairs">
	<div class="fe-mis_component">
		related-affairs
		<div class="fe-mis_task-approval">
			<table class="fe-mis_table bgLine ds-tableRes">
				<thead>
					<tr>
						<td>任务名称</td>
						<td>类型</td>
						<td>创建时间</td>
						<td>计划开始时间</td>
						<td>提交时间</td>
						<td>考核时间</td>
						<td>评分</td>
						<td>任务状态</td>
						<td>责任人</td>
						<td>监督人</td>
						<td>操作</td>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>1</td>
						<td>2</td>
						<td>3</td>
						<td>4</td>
						<td>5</td>
						<td>6</td>
						<td>7</td>
						<td>8</td>
						<td>9</td>
						<td>10</td>
						<td>11</td>
					</tr>
					<tr>
						<td>1</td>
						<td>2</td>
						<td>3</td>
						<td>4</td>
						<td>5</td>
						<td>6</td>
						<td>7</td>
						<td>8</td>
						<td>9</td>
						<td>10</td>
						<td>11</td>
					</tr>
					<tr>
						<td>1</td>
						<td>2</td>
						<td>3</td>
						<td>4</td>
						<td>5</td>
						<td>6</td>
						<td>7</td>
						<td>8</td>
						<td>9</td>
						<td>10</td>
						<td>11</td>
					</tr>
					<tr>
						<td>1</td>
						<td>2</td>
						<td>3</td>
						<td>4</td>
						<td>5</td>
						<td>6</td>
						<td>7</td>
						<td>8</td>
						<td>9</td>
						<td>10</td>
						<td>11</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</script>
<!--新建任务-->
<script type="text/x-template" id="new-task">
	<div class="fe-mis_component">
		<div class="fe-mis_task-approval bgAdd">
			<div class="fe-mis_ta_infoArea">
				<ul class="fe-mis_ta_infoList">
					<li class="fe-mis_ta_infoListItem">
						<label for="" class="fe-ms_label">
							<span class="fl fe-mis_iTitle name">项目名称</span>
							<div class="fl fe-mis_inputBox iWid202">
								<input type="text">
							</div>
						</label>
						<label for="" class="fe-ms_label">
							<span class="fl fe-mis_iTitle name">计划开始时间</span>
							<div class="fl fe-mis_inputBox iWid202">
								<input type="text" placeholder="---请选择---" id="newStart">
								<i class="drop-arrow"></i>
							</div>
						</label>
						<label for="" class="fe-ms_label">
							<span class="fl fe-mis_iTitle name">计划结束时间</span>
							<div class="fl fe-mis_inputBox iWid202">
								<input type="text" placeholder="---请选择---" id="newEnd">
								<i class="drop-arrow"></i>
							</div>
						</label>
						<label for="" class="fe-ms_label">
							<span class="fl fe-mis_iTitle name">负责人</span>
							<div class="fl fe-mis_inputBox iWid202">
								<input type="text">
							</div>
						</label>
					</li>
					<li class="fe-mis_ta_infoListItem">
						<span class="fl fe-mis_iTitle name">项目类型</span>
						<label for="c1" class="fl fe-ms_label">
							<div class="fl fe-mis_checkBox">
								<input type="checkbox" id="c1">
								<span class="circle"></span>
							</div>
							<span class="fl fe-mis_iTitle">日常任务</span>
						</label>
						<label for="c2" class="fl fe-ms_label">
							<div class="fl fe-mis_checkBox">
								<input type="checkbox" id="c2">
								<span class="circle"></span>
							</div>
							<span class="fl fe-mis_iTitle">上级派发任务</span>
						</label>
						<label for="c3" class="fl fe-ms_label">
							<div class="fl fe-mis_checkBox">
								<input type="checkbox" id="c3">
								<span class="circle"></span>
							</div>
							<span class="fl fe-mis_iTitle">临时任务</span>
						</label>
					</li>
					<li class="fe-mis_ta_infoListItem">
						<span class="fl fe-mis_iTitle name"><em>附</em><em>附</em>附件</span>
						<label for="up1" class="fl fe-ms_label">
							<div class="fe-mis_upload">	
								<input type="file" id="up1">
							</div>
						</label>
						<div class="fl fe-ms_uploadFiles">
							<p class="fe-mis_upFileDes">金融催收综合管理平台－功能树.xlsx (<span>79.5K</span>)</p>
							<p class="fe-mis_upFileDes notice">提示：添加文件按钮可以选择同一个文件夹的多个文件上传(按住Ctrl+鼠标左键选择)</p>
						</div>
					</li>
				</ul>
				<ul class="fe-mis_ta_details">
					<li class="fe-mis_ta_detailItem on">
						<textarea class="detailTxt">包括项目的主要内容、创新点、技术水平及应用范围。(1000字以内)简述项目的社会经济意义、现有工作基础、申请项目的必要性。(1000字以内)项目计划目标(包括总体目标、经济目标，技术、质量指标、知识产权指标)(2000字以内)主要技术经济指标对比(项目实施前后的比较)(1000字以内)推广及应用前景(1000字以内)创新团队或创新人才培养预期成果、目标。(重大科技专项项目填写，其他项目可不填写)(1000字以内)研究开发能力(2000字以内)</textarea>
						<span class="detailTitle abs">项目内容</span>
					</li>
					<li class="fe-mis_ta_detailItem">
						<textarea class="detailTxt"></textarea>
						<span class="detailTitle abs">项目备注</span>
					</li>
					<li class="fe-mis_ta_detailItem">
						<textarea class="detailTxt"></textarea>
						<span class="detailTitle abs">预期目标</span>
					</li>
					<li class="fe-mis_ta_detailItem">
						<textarea class="detailTxt"></textarea>
						<span class="detailTitle abs">资源申请</span>
					</li>
				</ul>
				<div class="fe-mis_ta_btnBox">
					<span class="fe-mis_btn fe-mis_btn-gray btnWid">暂存草稿箱</span>
					<span class="fe-mis_btn fe-mis_btn-blue btnWid">发布任务</span>
				</div>
			</div>
		</div>
	</div>
</script>
<!--草稿箱-->
<script type="text/x-template" id="drafts">
	<div class="fe-mis_component">
		<div class="fe-mis_task-approval">
			drafts
			<table class="fe-mis_table bgLine ds-tableRes">
				<thead>
					<tr>
						<td>任务名称</td>
						<td>类型</td>
						<td>创建时间</td>
						<td>计划开始时间</td>
						<td>提交时间</td>
						<td>考核时间</td>
						<td>评分</td>
						<td>任务状态</td>
						<td>责任人</td>
						<td>监督人</td>
						<td>操作</td>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>1</td>
						<td>2</td>
						<td>3</td>
						<td>4</td>
						<td>5</td>
						<td>6</td>
						<td>7</td>
						<td>8</td>
						<td>9</td>
						<td>10</td>
						<td>11</td>
					</tr>
					<tr>
						<td>1</td>
						<td>2</td>
						<td>3</td>
						<td>4</td>
						<td>5</td>
						<td>6</td>
						<td>7</td>
						<td>8</td>
						<td>9</td>
						<td>10</td>
						<td>11</td>
					</tr>
					<tr>
						<td>1</td>
						<td>2</td>
						<td>3</td>
						<td>4</td>
						<td>5</td>
						<td>6</td>
						<td>7</td>
						<td>8</td>
						<td>9</td>
						<td>10</td>
						<td>11</td>
					</tr>
					<tr>
						<td>1</td>
						<td>2</td>
						<td>3</td>
						<td>4</td>
						<td>5</td>
						<td>6</td>
						<td>7</td>
						<td>8</td>
						<td>9</td>
						<td>10</td>
						<td>11</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</script>
<!--完成任务-->
<script type="text/x-template" id="finish-task">
	<div class="fe-mis_component">
		finish-task
		<div class="fe-mis_task-approval">
			<table class="fe-mis_table bgLine ds-tableRes">
				<thead>
					<tr>
						<td>任务名称</td>
						<td>类型</td>
						<td>创建时间</td>
						<td>计划开始时间</td>
						<td>提交时间</td>
						<td>考核时间</td>
						<td>评分</td>
						<td>任务状态</td>
						<td>责任人</td>
						<td>监督人</td>
						<td>操作</td>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>1</td>
						<td>2</td>
						<td>3</td>
						<td>4</td>
						<td>5</td>
						<td>6</td>
						<td>7</td>
						<td>8</td>
						<td>9</td>
						<td>10</td>
						<td>11</td>
					</tr>
					<tr>
						<td>1</td>
						<td>2</td>
						<td>3</td>
						<td>4</td>
						<td>5</td>
						<td>6</td>
						<td>7</td>
						<td>8</td>
						<td>9</td>
						<td>10</td>
						<td>11</td>
					</tr>
					<tr>
						<td>1</td>
						<td>2</td>
						<td>3</td>
						<td>4</td>
						<td>5</td>
						<td>6</td>
						<td>7</td>
						<td>8</td>
						<td>9</td>
						<td>10</td>
						<td>11</td>
					</tr>
					<tr>
						<td>1</td>
						<td>2</td>
						<td>3</td>
						<td>4</td>
						<td>5</td>
						<td>6</td>
						<td>7</td>
						<td>8</td>
						<td>9</td>
						<td>10</td>
						<td>11</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</script>
<!--数据统计-->
<script type="text/x-template" id="data-statistics">
	<div class="fe-mis_component">
		<div class="fe-mis_task-approval bgNone">
			<div class="fe-ms_ds_opeCharts fe-mis_basic">
				<div class="fe-mis_ds_opeBox">
					<span class="fl fe-mis_iTitle name">统计类型</span>
					<label for="yb" class="fl fe-ms_label">
						<div class="fl fe-mis_checkBox">
							<input type="radio" checked id="yb" name="sjtj">
							<span class="circle"></span>
						</div>
						<span class="fl fe-mis_iTitle">月报</span>
					</label>
					<label for="zb" class="fl fe-ms_label">
						<div class="fl fe-mis_checkBox">
							<input type="radio" id="zb" name="sjtj">
							<span class="circle"></span>
						</div>
						<span class="fl fe-mis_iTitle">周报</span>
					</label>
					<span class="fl fe-mis_btn fe-mis_btn-blue ds-btnRes">上一周</span>
					<span class="fl fe-mis_btn fe-mis_btn-blue ds-btnRes">下一周</span>
					<span class="fl fe-mis_iTitle name">统计时间</span>
					<label for="" class="fl fe-ms_label">
						<div class="fl fe-mis_inputBox iWid202">
							<input type="text" placeholder="---请选择---" id="tjStart">
							<i class="drop-arrow"></i>
						</div>
					</label>
					<span class="fl fe-mis_iTitle name">至</span>
					<label for="" class="fl fe-ms_label">
						<div class="fl fe-mis_inputBox iWid202">
							<input type="text" placeholder="---请选择---" id="tjEnd">
							<i class="drop-arrow"></i>
						</div>
					</label>
					<span class="fl fe-mis_btn fe-mis_btn-blue ds-btnRes" @click="test">查看我的</span>
				</div>
				<div class="fe-ms_ds_chart" id="charts"></div>
			</div>
			<table class="fe-mis_table ds-tableRes">
				<thead>
					<tr>
						<td>姓名</td>
						<td>任务数</td>
						<td>最高评分</td>
						<td>最低评分</td>
						<td>平均分</td>
						<td>最高时间评分</td>
						<td>最低时间评分</td>
						<td>时间平均分</td>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>测试员</td>
						<td>2</td>
						<td>3</td>
						<td>4</td>
						<td>5</td>
						<td>6</td>
						<td>7</td>
						<td>8</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</script>
<!--提醒设置-->
<script type="text/x-template" id="remind-setting">
	<div class="fe-mis_component">
		<div class="fe-mis_task-approval bgNone">
			<div class="fe-mis_rsBox fe-mis_cBlock">
				<p class="fe-mis_rsTitle">通用设置</p>
				<ul class="fe-mis_rsList">
					<li class="fe-mis_rsListItem clear">
						<span class="fl fe-mis_iTitle name">时间设定</span>
						<label for="time1" class="fl fe-ms_label">
							<div class="fl fe-mis_checkBox">
								<input type="checkbox" id="time1">
								<span class="circle"></span>
							</div>
							<span class="fl fe-mis_iTitle">第一时间</span>
						</label>
						<label for="time2" class="fl fe-ms_label">
							<div class="fl fe-mis_checkBox">
								<input type="checkbox" id="time2">
								<span class="circle"></span>
							</div>
							<span class="fl fe-mis_iTitle">按提醒时间设置</span>
						</label>
					</li>
					<li class="fe-mis_rsListItem clear">
						<span class="fl fe-mis_iTitle name">提醒设置时间</span>
						<label for="" class="fl fe-ms_label">
							<div class="fl fe-mis_inputBox iWid202">
								<input type="text" placeholder="---请选择---" id="rsStart">
								<i class="drop-arrow"></i>
							</div>
						</label>
						<span class="fl fe-mis_iTitle name">至</span>
						<label for="" class="fl fe-ms_label">
							<div class="fl fe-mis_inputBox iWid202">
								<input type="text" placeholder="---请选择---" id="rsEnd">
								<i class="drop-arrow"></i>
							</div>
						</label>
					</li>
				</ul>
				<p class="fe-mis_rsTitle">区间设置</p>
				<ul class="fe-mis_rsList">
					<li class="fe-mis_rsListItem clear">
						<span class="fl fe-mis_iTitle name">项目类型</span>
						<label for="mt1" class="fl fe-ms_label">
							<div class="fl fe-mis_checkBox">
								<input type="checkbox" id="mt1">
								<span class="circle"></span>
							</div>
							<span class="fl fe-mis_iTitle">派发任务</span>
						</label>
						<label for="mt2" class="fl fe-ms_label">
							<div class="fl fe-mis_checkBox">
								<input type="checkbox" id="mt2">
								<span class="circle"></span>
							</div>
							<span class="fl fe-mis_iTitle">日常任务</span>
						</label>
						<label for="mt3" class="fl fe-ms_label">
							<div class="fl fe-mis_checkBox">
								<input type="checkbox" id="mt3">
								<span class="circle"></span>
							</div>
							<span class="fl fe-mis_iTitle">临时任务</span>
						</label>
					</li>
					<li class="fe-mis_rsListItem clear">
						<span class="fl fe-mis_iTitle name">提醒设置</span>
						<label for="r1" class="fl fe-ms_label">
							<div class="fl fe-mis_checkBox">
								<input type="radio" id="r1" name="switch">
								<span class="circle"></span>
							</div>
							<span class="fl fe-mis_iTitle">开</span>
						</label>
						<label for="r2" class="fl fe-ms_label">
							<div class="fl fe-mis_checkBox">
								<input type="radio" id="r2" name="switch" checked>
								<span class="circle"></span>
							</div>
							<span class="fl fe-mis_iTitle">关</span>
						</label>
					</li>
					<li class="fe-mis_rsListItem clear">
						<span class="fl fe-mis_iTitle name">项目级属</span>
						<label for="o1" class="fl fe-ms_label">
							<div class="fl fe-mis_checkBox">
								<input type="radio" id="o1" name="owner">
								<span class="circle"></span>
							</div>
							<span class="fl fe-mis_iTitle">上级</span>
						</label>
						<label for="o2" class="fl fe-ms_label">
							<div class="fl fe-mis_checkBox">
								<input type="radio" id="o2" name="owner" >
								<span class="circle"></span>
							</div>
							<span class="fl fe-mis_iTitle">下级</span>
						</label>
						<label for="o3" class="fl fe-ms_label">
							<div class="fl fe-mis_checkBox">
								<input type="radio" id="o3" name="owner" >
								<span class="circle"></span>
							</div>
							<span class="fl fe-mis_iTitle">全开</span>
						</label>
					</li>
				</ul>
			</div>
			<div class="fe-mis_ta_btnBox pt36">
				<span class="fe-mis_btn fe-mis_btn-gray btnWid">取消</span>
				<span class="fe-mis_btn fe-mis_btn-blue btnWid">确定</span>
			</div>
		</div>
	</div>
</script>
<!--任务审批版本-->
<script type="text/x-template" id="ta-version">
	<div class="fe-mis_ta_infoArea" v-show="isShow">
		<ul class="fe-mis_ta_infoList">
			<li class="fe-mis_ta_infoListItem">
				<label for="" class="fe-ms_label">
					<span class="fl fe-mis_iTitle name">项目名称</span>
					<div class="fl fe-mis_inputBox iWid202">
						<input type="text" v-model="ownData.projectName">
					</div>
				</label>
				<label for="" class="fe-ms_label">
					<span class="fl fe-mis_iTitle name">计划开始时间</span>
					<div class="fl fe-mis_inputBox iWid202">
						<input type="text" placeholder="---请选择---" :id="ownData.startTime">
						<i class="drop-arrow"></i>
					</div>
				</label>
				<label for="" class="fe-ms_label">
					<span class="fl fe-mis_iTitle name">计划结束时间</span>
					<div class="fl fe-mis_inputBox iWid202">
						<input type="text" placeholder="---请选择---" :id="ownData.endTime">
						<i class="drop-arrow"></i>
					</div>
				</label>
				<label for="" class="fe-ms_label">
					<span class="fl fe-mis_iTitle name">负责人</span>
					<div class="fl fe-mis_inputBox iWid202">
						<input type="text">
					</div>
				</label>
			</li>
			<li class="fe-mis_ta_infoListItem">
				<span class="fl fe-mis_iTitle name">项目类型</span>
				<label :for="ownData.projectType1" class="fl fe-ms_label">
					<div class="fl fe-mis_checkBox">
						<input type="checkbox" :id="ownData.projectType1">
						<span class="circle"></span>
					</div>
					<span class="fl fe-mis_iTitle">日常任务</span>
				</label>
				<label :for="ownData.projectType2" class="fl fe-ms_label">
					<div class="fl fe-mis_checkBox">
						<input type="checkbox" :id="ownData.projectType2">
						<span class="circle"></span>
					</div>
					<span class="fl fe-mis_iTitle">上级派发任务</span>
				</label>
				<label :for="ownData.projectType3" class="fl fe-ms_label">
					<div class="fl fe-mis_checkBox">
						<input type="checkbox" :id="ownData.projectType3">
						<span class="circle"></span>
					</div>
					<span class="fl fe-mis_iTitle">临时任务</span>
				</label>
			</li>
			<li class="fe-mis_ta_infoListItem">
				<label for="" class="fe-ms_label">
					<span class="fl fe-mis_iTitle name">任务状态</span>
					<div class="fl fe-mis_inputBox iWid202">
						<select>
							<option disbaled>---请选择---</option>
							<option value="">1122</option>
						</select>
					</div>
				</label>
			</li>
			<li class="fe-mis_ta_infoListItem">
				<span class="fl fe-mis_iTitle name"><em>附</em><em>附</em>附件</span>
				<label for="up1" class="fl fe-ms_label">
					<div class="fe-mis_upload">	
						<input type="file" id="up1">
					</div>
				</label>
				<div class="fl fe-ms_uploadFiles">
					<p class="fe-mis_upFileDes">金融催收综合管理平台－功能树.xlsx (<span>79.5K</span>)</p>
					<p class="fe-mis_upFileDes notice">提示：添加文件按钮可以选择同一个文件夹的多个文件上传(按住Ctrl+鼠标左键选择)</p>
				</div>
			</li>
		</ul>
		<ul class="fe-mis_ta_details">
			<li class="fe-mis_ta_detailItem on">
				<textarea class="detailTxt">包括项目的主要内容、创新点、技术水平及应用范围。(1000字以内)简述项目的社会经济意义、现有工作基础、申请项目的必要性。(1000字以内)项目计划目标(包括总体目标、经济目标，技术、质量指标、知识产权指标)(2000字以内)主要技术经济指标对比(项目实施前后的比较)(1000字以内)推广及应用前景(1000字以内)创新团队或创新人才培养预期成果、目标。(重大科技专项项目填写，其他项目可不填写)(1000字以内)研究开发能力(2000字以内)</textarea>
				<span class="detailTitle abs">项目内容</span>
			</li>
			<li class="fe-mis_ta_detailItem">
				<textarea class="detailTxt"></textarea>
				<span class="detailTitle abs">项目备注</span>
			</li>
			<li class="fe-mis_ta_detailItem">
				<textarea class="detailTxt"></textarea>
				<span class="detailTitle abs">预期目标</span>
			</li>
			<li class="fe-mis_ta_detailItem">
				<textarea class="detailTxt"></textarea>
				<span class="detailTitle abs">资源申请</span>
			</li>
		</ul>
		<div class="fe-mis_ta_btnBox">
			<span class="fe-mis_btn fe-mis_btn-gray btnWid">取消</span>
			<span class="fe-mis_btn fe-mis_btn-blue btnWid">确定</span>
		</div>
	</div>
</script>
</body>
</html>