.container {
  width: 1600px;
  margin: 0 auto 200px auto;
  text-align: center;
}
.container > .title {
  color: #030303;
  font-size: 36px;
  line-height: 116px;
}
.container > .scanList {
  border: 2px solid #cbcbcb;
  padding: 0 33px;
}
.container > .scanList > ul > li {
  margin: 18px 25px;
  border: 1px solid #cbcbcb;
  padding: 24px 0 50px 0;
  width: 460px;
  height: 460px;
}
.container > .scanList > ul > li img {
  width: 300px;
  height: 225px;
}
.container > .scanList > ul > li p {
  line-height: 65px;
  font-size: 24px;
  color: #676767;
}
.container > .scanList > ul > li .deleteBtn {
  width: 180px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
  height: 50px;
  line-height: 50px;
  font-size: 22px;
  background: #e31515;
  border-radius: 4px;
  color: #ffffff;
  margin: 44px auto 0 auto;
}
.container > .scanList > ul > li .deleteBtn:active {
  background: #e83636;
}
.container > .scanList > ul > li.add {
  position: relative;
}
.container > .scanList > ul > li.add > div {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background: #e9e9e9;
}
.container > .scanList > ul > li.add > div:first-child {
  width: 10px;
  height: 380px;
}
.container > .scanList > ul > li.add > div:last-child {
  width: 380px;
  height: 10px;
}
.container > .scanList > .photographBtn {
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
  width: 360px;
  height: 80px;
  line-height: 80px;
  background: #287dd8;
  color: #ffffff;
  border-radius: 4px;
  font-size: 30px;
  margin: 34px auto 58px auto;
}
.container > .scanList > .photographBtn:active {
  background: #3589e4;
}
.container > .subBtn {
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
  width: 1000px;
  background: #b3b3b3;
  color: #fff;
  height: 80px;
  line-height: 80px;
  font-size: 36px;
  margin: 162px auto 0 auto;
  border-radius: 4px;
}
.container > .subBtn:active {
  background: #c3c3c3;
}
