$rem:75px;
@mixin flexBox() {
	display:-webkit-box;
	display:-moz-box;
	display:box;
	display:-webkit-flex;
	display:-moz-flex;
	display:flex;
}
@mixin flexAxis($hName,$vName) {
	-webkit-justify-content:#{$hName};
	-moz-justify-content:#{$hName};
	justify-content:#{$hName};
	-webkit-align-items:#{$vName};
	-moz-align-items:#{$vName};
	align-items:#{$vName};
}
@mixin boxAxis($hName,$vName){
	-webkit-box-pack:#{$hName};
	-moz-box-pack:#{$hName};
	box-pack:#{$hName};
	-webkit-box-align:#{$vName};
	-moz-box-align:#{$vName};
	box-align:#{$vName};
}
@mixin flexFlow() {
	-webkit-flex-flow:row wrap;
	-moz-flex-flow:row wrap;
	flex-flow:row wrap;
}
@mixin boxFlow() {
	-webkit-box-direction:normal;
	-moz-box-direction:normal;
	box-direction:normal;
	-webkit-box-align:start;
	-moz-box-align:start;
	box-align:start;
}
@mixin flex() {
	-webkit-flex:1 1 auto;
	-moz-flex:1 1 auto;
	flex:1 1 auto;
}
@mixin boxFlex() {
	-webkit-box-flex:1;
	-moz-box-flex:1;
	box-flex:1;
}
@function px2em($px,$cx){
	@return $cx/$px+em;
}
@function px2rem($num){
	@return $num/$rem+rem;	
}
body {
	background:#ededf1;
}
.header {
	width:px2rem(750px);height:px2rem(118px);background:#4eb6f5;
	color:#fff;font-size:48px;text-align:center;line-height:px2rem(118px);
}
.banner {
	width:px2rem(750px);height:px2rem(240px);
}
.banner > a {
	display:block;
}
.banner > a,.banner > a > img {
	width:100%;height:100%;
}
.funSelArea {
	width:px2rem(750px);padding-top:px2rem(20px);
	margin-bottom:px2rem(20px);
	@include flexBox();
	@include boxFlow();
	@include flexFlow();
	background:#fff;
}
.funSelArea > li {
	width:px2rem(156px);height:px2rem(180px);
	@include boxAxis(start,start);
	@include flexAxis(flex-start,flex-start);
	@include boxFlex();
	@include flex();
	text-align:center;font-size:24px;
}
.funSelArea > li > a {
	display:block;width:px2rem(98px);height:px2rem(98px);
	margin:0 auto;background-size:100% 100%;
}
.funSelArea .lh01 {
	line-height:px2rem(34px);
}
.funSelArea .lh02 {
	font-size:20px;line-height:px2rem(20px);
}
.conBox {
	width:10rem;padding:0 px2rem(30px);margin-bottom:px2rem(20px);background:#fff;
}
.conBox .title {
	height:px2rem(88px);line-height:px2rem(88px);border-bottom:1px solid #b4b8c4;color:#333;font-size:28px;
}
.conBox li > a {
	color:#666;
}
.conBox .title > .wordTrans {
	font-size:24px;margin-left:10px;
}
.listInfoOne {
		
}
.listInfoOne > li,.listInfoTwo > li {
	height:px2rem(100px);line-height:px2rem(100px);
	border-bottom:1px solid #ededed;
}
.listInfoOne > li > i {
	width:px2rem(48px);height:px2rem(43px);margin-top:px2rem(30px);
	background:url('../images/downLoadIcon.png') no-repeat;
	background-size:100%;
}
.listInfoTwo > li {
	height:px2rem(88px);line-height:px2rem(88px);
}
.listInfoOne > li:last-child,.listInfoTwo > li:last-child {
	border-bottom:none;
}
.linksBox {
	padding:px2rem(20px) 0 0 0;
	@include flexBox();
	@include boxFlow();
	@include flexFlow();
	border-bottom:1px solid #b4b8c4;
}
.linksBox > li {
	width:px2rem(240px);height:px2rem(75px);
	@include boxAxis(start,start);
	@include flexAxis(flex-start,flex-start);
	@include boxFlex();
	@include flex();
	font-size:20px;padding-left:px2rem(54px);
}
.linksBox a {
	display:block;line-height:px2rem(34px);
	color:#808080;
}
.linksBox span {
	line-height:px2rem(20px);
}
.weui-footer {
	width:10rem;height:px2rem(120px);
	background:#ddedf8;
    color: #999999;
    font-size: 20px;
    padding-top:px2rem(20px);
    border-top:1px solid #b4b8c4;
    text-align: center;
}
.weui-footer__links {
    font-size: 0;
}
.weui-footer__link {
    display: inline-block;
    vertical-align: top;
    margin: 0 .62em;
    position: relative;
    font-size: 20px;
}
.weui-footer__text {
    padding: 0 .34em;
}
.goTop {
	position:fixed;right:px2rem(30px);bottom:px2rem(200px);
	width:px2rem(48px);height:px2rem(48px);background:url('../images/goTop.png') no-repeat;background-size:100% 100%;
}
