html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  line-height: 1.6;color:#666;
  font-family: -apple-system-font, "Helvetica Neue", sans-serif;
  background:#ededf1;
}
* {
  margin: 0;
  padding: 0;
  box-sizing:border-box;
}
a img {
  border: 0;
}
img {
  border:none;
	vertical-align:top;
}
a {
  text-decoration: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
ul,li,ol {
	list-style:none;
}
input,select,textarea,button {
  border:none;outline:none;
  background:transparent;
  color:#666;
}
textarea {
  resize:none;
}
input:focus,select:focus,textarea:focus {
  outline:none;
}
.fl {
	float:left;
}
.fr {
	float:right;
}
.clear:after {
	content:'';display:block;clear:both;visibility:hidden;height:0;
}

.linksBox {
  border-bottom: 1px solid #b4b8c4;
  padding-bottom:10px;
}
.linksBox > li {
  width:33.33333333%;
  height:40px;
  font-size:12px;
  padding:6px 0 0 18px;
}
.linksBox a {
  display: block;
  line-height:16px;
  color: #808080;
}
.linksBox p {
  line-height:14px; 
}
.goTop {
  display:none;
  position: fixed;
  right:15px;
  bottom:147px;
  width:24px;
  height:24px;
  background: url("../images/goTop.png") no-repeat;
  background-size: 100% 100%; 
}
.cd-footer {
  display:table;width:100%;
}
.cd-footTxt {
  display:table-cell;height:115px;
  text-align:center;vertical-align:middle;font-size:12px;
  color:#999;
}
@media screen and (min-width:768px) {
  .widthControl {
    width:768px;margin:0 auto;
  }
}