html {
  height: auto;
  min-height: 0;
}
html body {
  height: auto;
}
html body .bigBox {
  height: auto;
}
html body .bigBox > .body {
  margin: 80px auto;
  width: 560px;
  font-size: 0;
}
html body .bigBox > .body > label {
  display: block;
  height: 58px;
  position: relative;
  border: 1px solid #cccccc;
  border-radius: 5px;
  overflow: hidden;
  margin-bottom: 20px;
}
html body .bigBox > .body > label:hover {
  opacity: .9;
}
html body .bigBox > .body > label:active {
  opacity: 1;
}
html body .bigBox > .body > label span {
  display: inline-block;
  color: #6f8592;
  font-size: 18px;
  width: 58px;
  height: 58px;
  border-right: 1px solid #cccccc;
  position: relative;
  background: #287dd7;
}
html body .bigBox > .body > label span i {
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  position: absolute;
}
html body .bigBox > .body > label input:not([type=checkbox]) {
  border: 0;
  width: 500px;
  height: 100%;
  padding: 0 10px;
  font-size: 18px;
  color: #666;
  font-family: 'Microsoft YaHei', Verdana, Arial, Helvetica, sans-serif;
}
html body .bigBox > .body > label input:not([type=checkbox]):focus {
  outline: 1px solid #287DD7;
}
html body .bigBox > .body > label input:not([type=checkbox])::-webkit-input-placeholder {
  font-size: 18px;
  color: #999;
  font-family: 'Microsoft YaHei', Verdana, Arial, Helvetica, sans-serif;
}
html body .bigBox > .body > label input:not([type=checkbox])::-moz-placeholder {
  font-size: 18px;
  color: #999;
  font-family: 'Microsoft YaHei', Verdana, Arial, Helvetica, sans-serif;
}
html body .bigBox > .body > #loginBtn {
  height: 60px;
  line-height: 60px;
  color: #ffffff;
  font-size: 18px;
  text-align: center;
  background: #287dd7;
  cursor: pointer;
}
html body .bigBox > .body > #loginBtn:hover {
  background: #4793e3;
}
html body .bigBox > .body > #loginBtn:hover:active {
  background: #287dd7;
}
html body .bigBox > .body #alert {
  height: 50px;
  padding-left: 10px;
  line-height: 50px;
  font-size: 20px;
  font-weight: bold;
  color: #fd0000;
}
html body .bigBox > .body #alert.pass {
  color: #60a80a;
}
