.animated {
	-webkit-animation-duration: .6s;
	animation-duration: .6s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}

/* 操作等待时的动画 */
.ds-waitingBox {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    background: rgba(0,0,0,0.3);
}
.ds-waitingBox > .loader-container {
    position:absolute;top:50%;left:50%;
    -webkit-transform:translate(-50%,-50%);
    -moz-transform:translate(-50%,-50%);
    -ms-transform:translate(-50%,-50%);
    transform:translate(-50%,-50%);
    min-width:228px;
    border-radius:3px;
    padding:38px 0 0;/* background:rgb(255,255,255); */
    text-align:center;overflow:hidden;
}
.loader-container > div {
    display:inline-block;
}
.loader-container > div.txt {
	position:relative;
	width:100%;height:70px;
	text-align:center;
}
.loader-container > div.txt > span {
	font-size:28px;color:#000;
	padding-right:20px;line-height:70px;
}

/* 省略号样式S */
.loader-container > div.txt > b {
    position:absolute;top:0;right:0;
    width:40px;height:100%;
    font-size:38px;line-height:66px;
    padding-left:12px;color:#000;
    -webkit-animation: ellipScroll 2s infinite ease-in-out;
    -moz-animation: ellipScroll 2s infinite ease-in-out;
    -o-animation: ellipScroll 2s infinite ease-in-out;
    animation: ellipScroll 2s infinite ease-in-out;
}
.loader-container > div.txt > b.first {
	/* left:135px; */
    right:44px;
    -webkit-animation-delay: -.7s;
    -moz-animation-delay: -.7s;
    -o-animation-delay: -.7s;
    animation-delay: -.7s;
}
.loader-container > div.txt > b.second {
    /* left:153px; */
    right:26px;
    -webkit-animation-delay: -.4s;
    -moz-animation-delay: -.4s;
    -o-animation-delay: -.4s;
    animation-delay: -.4s;
}
.loader-container > div.txt > b.third {
    /* left:171px; */
    right:8px;
    -webkit-animation-delay: -.1s;
    -moz-animation-delay: -.1s;
    -o-animation-delay: -.1s;
    animation-delay: -.1s;
}
.loader-container .ds-wrapper {
    top:40px;transform:none;
}
.loader-container .ds-loadingTxt > span {
    font-size:42px;margin-left:50px;
}
.loader-container .ds-loadingTxt > div > p {
    font-size:42px;line-height:62px;
}
/* 省略号样式E */

/* type1-S */
.la-ball-climbing-dot,
.la-ball-climbing-dot > div {
    position: relative;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

.la-ball-climbing-dot {
    /* display: block; */
    font-size: 0;
    color: #fff;
}

.la-ball-climbing-dot.la-dark {
    color: #333;
}

.la-ball-climbing-dot > div {
    display: inline-block;
    float: none;
    background-color: currentColor;
    border: 0 solid currentColor;
}

.la-ball-climbing-dot {
    width: 42px;
    height: 32px;
}

.la-ball-climbing-dot > div:nth-child(1) {
    position: absolute;
    bottom: 32%;
    left: 18%;
    width: 14px;
    height: 14px;
    background:#00a0e9;
    border-radius: 100%;
    -webkit-transform-origin: center bottom;
       -moz-transform-origin: center bottom;
        -ms-transform-origin: center bottom;
         -o-transform-origin: center bottom;
            transform-origin: center bottom;
    -webkit-animation: ball-climbing-dot-jump .6s ease-in-out infinite;
       -moz-animation: ball-climbing-dot-jump .6s ease-in-out infinite;
         -o-animation: ball-climbing-dot-jump .6s ease-in-out infinite;
            animation: ball-climbing-dot-jump .6s ease-in-out infinite;
}

.la-ball-climbing-dot > div:not(:nth-child(1)) {
    position: absolute;
    top: 0;
    right: 0;
    width: 14px;
    height: 2px;
    background:#00a0e9;
    border-radius: 0;
    -webkit-transform: translate(60%, 0);
       -moz-transform: translate(60%, 0);
        -ms-transform: translate(60%, 0);
         -o-transform: translate(60%, 0);
            transform: translate(60%, 0);
    -webkit-animation: ball-climbing-dot-steps 1.8s linear infinite;
       -moz-animation: ball-climbing-dot-steps 1.8s linear infinite;
         -o-animation: ball-climbing-dot-steps 1.8s linear infinite;
            animation: ball-climbing-dot-steps 1.8s linear infinite;
}

.la-ball-climbing-dot > div:not(:nth-child(1)):nth-child(2) {
    -webkit-animation-delay: 0ms;
       -moz-animation-delay: 0ms;
         -o-animation-delay: 0ms;
            animation-delay: 0ms;
}

.la-ball-climbing-dot > div:not(:nth-child(1)):nth-child(3) {
    -webkit-animation-delay: -600ms;
       -moz-animation-delay: -600ms;
         -o-animation-delay: -600ms;
            animation-delay: -600ms;
}

.la-ball-climbing-dot > div:not(:nth-child(1)):nth-child(4) {
    -webkit-animation-delay: -1200ms;
       -moz-animation-delay: -1200ms;
         -o-animation-delay: -1200ms;
            animation-delay: -1200ms;
}

.la-ball-climbing-dot.la-sm {
    width: 20px;
    height: 16px;
}

.la-ball-climbing-dot.la-sm > div:nth-child(1) {
    width: 6px;
    height: 6px;
}

.la-ball-climbing-dot.la-sm > div:not(:nth-child(1)) {
    width: 6px;
    height: 1px;
}

.la-ball-climbing-dot.la-2x {
    width: 84px;
    height: 64px;
}

.la-ball-climbing-dot.la-2x > div:nth-child(1) {
    width: 28px;
    height: 28px;
}

.la-ball-climbing-dot.la-2x > div:not(:nth-child(1)) {
    width: 28px;
    height: 4px;
}

.la-ball-climbing-dot.la-3x {
    width: 126px;
    height: 96px;
}

.la-ball-climbing-dot.la-3x > div:nth-child(1) {
    width: 42px;
    height: 42px;
}

.la-ball-climbing-dot.la-3x > div:not(:nth-child(1)) {
    width: 42px;
    height: 6px;
}
@-webkit-keyframes ball-climbing-dot-jump {
    0% {
        -webkit-transform: scale(1, .7);
                transform: scale(1, .7);
    }
    20% {
        -webkit-transform: scale(.7, 1.2);
                transform: scale(.7, 1.2);
    }
    40% {
        -webkit-transform: scale(1, 1);
                transform: scale(1, 1);
    }
    50% {
        bottom: 90%;
    }
    46% {
        -webkit-transform: scale(1, 1);
                transform: scale(1, 1);
    }
    80% {
        -webkit-transform: scale(.7, 1.2);
                transform: scale(.7, 1.2);
    }
    90% {
        -webkit-transform: scale(.7, 1.2);
                transform: scale(.7, 1.2);
    }
    100% {
        -webkit-transform: scale(1, .7);
                transform: scale(1, .7);
    }
}
@-moz-keyframes ball-climbing-dot-jump {
    0% {
        -moz-transform: scale(1, .7);
             transform: scale(1, .7);
    }
    20% {
        -moz-transform: scale(.7, 1.2);
             transform: scale(.7, 1.2);
    }
    40% {
        -moz-transform: scale(1, 1);
             transform: scale(1, 1);
    }
    50% {
        bottom: 90%;
    }
    46% {
        -moz-transform: scale(1, 1);
             transform: scale(1, 1);
    }
    80% {
        -moz-transform: scale(.7, 1.2);
             transform: scale(.7, 1.2);
    }
    90% {
        -moz-transform: scale(.7, 1.2);
             transform: scale(.7, 1.2);
    }
    100% {
        -moz-transform: scale(1, .7);
             transform: scale(1, .7);
    }
}
@-o-keyframes ball-climbing-dot-jump {
    0% {
        -o-transform: scale(1, .7);
           transform: scale(1, .7);
    }
    20% {
        -o-transform: scale(.7, 1.2);
           transform: scale(.7, 1.2);
    }
    40% {
        -o-transform: scale(1, 1);
           transform: scale(1, 1);
    }
    50% {
        bottom: 90%;
    }
    46% {
        -o-transform: scale(1, 1);
           transform: scale(1, 1);
    }
    80% {
        -o-transform: scale(.7, 1.2);
           transform: scale(.7, 1.2);
    }
    90% {
        -o-transform: scale(.7, 1.2);
           transform: scale(.7, 1.2);
    }
    100% {
        -o-transform: scale(1, .7);
           transform: scale(1, .7);
    }
}
@keyframes ball-climbing-dot-jump {
    0% {
        -webkit-transform: scale(1, .7);
           -moz-transform: scale(1, .7);
             -o-transform: scale(1, .7);
                transform: scale(1, .7);
    }
    20% {
        -webkit-transform: scale(.7, 1.2);
           -moz-transform: scale(.7, 1.2);
             -o-transform: scale(.7, 1.2);
                transform: scale(.7, 1.2);
    }
    40% {
        -webkit-transform: scale(1, 1);
           -moz-transform: scale(1, 1);
             -o-transform: scale(1, 1);
                transform: scale(1, 1);
    }
    50% {
        bottom: 90%;
    }
    46% {
        -webkit-transform: scale(1, 1);
           -moz-transform: scale(1, 1);
             -o-transform: scale(1, 1);
                transform: scale(1, 1);
    }
    80% {
        -webkit-transform: scale(.7, 1.2);
           -moz-transform: scale(.7, 1.2);
             -o-transform: scale(.7, 1.2);
                transform: scale(.7, 1.2);
    }
    90% {
        -webkit-transform: scale(.7, 1.2);
           -moz-transform: scale(.7, 1.2);
             -o-transform: scale(.7, 1.2);
                transform: scale(.7, 1.2);
    }
    100% {
        -webkit-transform: scale(1, .7);
           -moz-transform: scale(1, .7);
             -o-transform: scale(1, .7);
                transform: scale(1, .7);
    }
}

@-webkit-keyframes ball-climbing-dot-steps {
    0% {
        top: 0;
        right: 0;
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        top: 100%;
        right: 100%;
        opacity: 0;
    }
}

@-moz-keyframes ball-climbing-dot-steps {
    0% {
        top: 0;
        right: 0;
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        top: 100%;
        right: 100%;
        opacity: 0;
    }
}

@-o-keyframes ball-climbing-dot-steps {
    0% {
        top: 0;
        right: 0;
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        top: 100%;
        right: 100%;
        opacity: 0;
    }
}

@keyframes ball-climbing-dot-steps {
    0% {
        top: 0;
        right: 0;
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        top: 100%;
        right: 100%;
        opacity: 0;
    }
}
/* type1-E */

/* type2-S */
.la-ball-spin-clockwise,
.la-ball-spin-clockwise > div {
	position: relative;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.la-ball-spin-clockwise {
	display: block;
	font-size: 0;
	color: #fff;
}

.la-ball-spin-clockwise.la-dark {
	color: #333;
}

.la-ball-spin-clockwise > div {
	display: inline-block;
	float: none;
	background-color: currentColor;
	border: 0 solid currentColor;
}

.la-ball-spin-clockwise {
	width: 32px;
	height: 32px;
}

.la-ball-spin-clockwise > div {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 8px;
	height: 8px;
	margin-top: -4px;
	margin-left: -4px;
	border-radius: 100%;
	-webkit-animation: ball-spin-clockwise 1s infinite ease-in-out;
	-moz-animation: ball-spin-clockwise 1s infinite ease-in-out;
	-o-animation: ball-spin-clockwise 1s infinite ease-in-out;
	animation: ball-spin-clockwise 1s infinite ease-in-out;
}

.la-ball-spin-clockwise > div:nth-child(1) {
	top: 5%;
	left: 50%;
	-webkit-animation-delay: -.875s;
	-moz-animation-delay: -.875s;
	-o-animation-delay: -.875s;
	animation-delay: -.875s;
}

.la-ball-spin-clockwise > div:nth-child(2) {
	top: 18.1801948466%;
	left: 81.8198051534%;
	-webkit-animation-delay: -.75s;
	-moz-animation-delay: -.75s;
	-o-animation-delay: -.75s;
	animation-delay: -.75s;
}

.la-ball-spin-clockwise > div:nth-child(3) {
	top: 50%;
	left: 95%;
	-webkit-animation-delay: -.625s;
	-moz-animation-delay: -.625s;
	-o-animation-delay: -.625s;
	animation-delay: -.625s;
}

.la-ball-spin-clockwise > div:nth-child(4) {
	top: 81.8198051534%;
	left: 81.8198051534%;
	-webkit-animation-delay: -.5s;
	-moz-animation-delay: -.5s;
	-o-animation-delay: -.5s;
	animation-delay: -.5s;
}

.la-ball-spin-clockwise > div:nth-child(5) {
	top: 94.9999999966%;
	left: 50.0000000005%;
	-webkit-animation-delay: -.375s;
	-moz-animation-delay: -.375s;
	-o-animation-delay: -.375s;
	animation-delay: -.375s;
}

.la-ball-spin-clockwise > div:nth-child(6) {
	top: 81.8198046966%;
	left: 18.1801949248%;
	-webkit-animation-delay: -.25s;
	-moz-animation-delay: -.25s;
	-o-animation-delay: -.25s;
	animation-delay: -.25s;
}

.la-ball-spin-clockwise > div:nth-child(7) {
	top: 49.9999750815%;
	left: 5.0000051215%;
	-webkit-animation-delay: -.125s;
	-moz-animation-delay: -.125s;
	-o-animation-delay: -.125s;
	animation-delay: -.125s;
}

.la-ball-spin-clockwise > div:nth-child(8) {
	top: 18.179464974%;
	left: 18.1803700518%;
	-webkit-animation-delay: 0s;
	-moz-animation-delay: 0s;
	-o-animation-delay: 0s;
	animation-delay: 0s;
}

.la-ball-spin-clockwise.la-sm {
	width: 16px;
	height: 16px;
}

.la-ball-spin-clockwise.la-sm > div {
	width: 4px;
	height: 4px;
	margin-top: -2px;
	margin-left: -2px;
}

.la-ball-spin-clockwise.la-2x {
	width: 64px;
	height: 64px;
}

.la-ball-spin-clockwise.la-2x > div {
	width: 16px;
	height: 16px;
	margin-top: -8px;
	margin-left: -8px;
}

.la-ball-spin-clockwise.la-3x {
	width: 96px;
	height: 96px;
}

.la-ball-spin-clockwise.la-3x > div {
	width: 24px;
	height: 24px;
	margin-top: -12px;
	margin-left: -12px;
}

/*
 * Animation
 */
@-webkit-keyframes ball-spin-clockwise {
	0%,
    100% {
		opacity: 1;
		-webkit-transform: scale(1);
		transform: scale(1);
	}

	20% {
		opacity: 1;
	}

	80% {
		opacity: 0;
		-webkit-transform: scale(0);
		transform: scale(0);
	}
}

@-moz-keyframes ball-spin-clockwise {
	0%,
    100% {
		opacity: 1;
		-moz-transform: scale(1);
		transform: scale(1);
	}

	20% {
		opacity: 1;
	}

	80% {
		opacity: 0;
		-moz-transform: scale(0);
		transform: scale(0);
	}
}

@-o-keyframes ball-spin-clockwise {
	0%,
    100% {
		opacity: 1;
		-o-transform: scale(1);
		transform: scale(1);
	}

	20% {
		opacity: 1;
	}

	80% {
		opacity: 0;
		-o-transform: scale(0);
		transform: scale(0);
	}
}

@keyframes ball-spin-clockwise {
	0%,
    100% {
		opacity: 1;
		-webkit-transform: scale(1);
		-moz-transform: scale(1);
		-o-transform: scale(1);
		transform: scale(1);
	}

	20% {
		opacity: 1;
	}

	80% {
		opacity: 0;
		-webkit-transform: scale(0);
		-moz-transform: scale(0);
		-o-transform: scale(0);
		transform: scale(0);
	}
}
/* type2-E */

/* 省略号S */
@-webkit-keyframes ellipScroll {
	0%,
    100% {
		opacity: 1;
		-webkit-transform: scale(1);
		-moz-transform: scale(1);
		-o-transform: scale(1);
		transform: scale(1);
	}

	20% {
		opacity: 1;
	}
	80% {
		opacity: 0;
		-webkit-transform: scale(0);
		-moz-transform: scale(0);
		-o-transform: scale(0);
		transform: scale(0);
	}
}
@-moz-keyframes ellipScroll {
	0%,
    100% {
		opacity: 1;
		-webkit-transform: scale(1);
		-moz-transform: scale(1);
		-o-transform: scale(1);
		transform: scale(1);
	}

	20% {
		opacity: 1;
	}
	80% {
		opacity: 0;
		-webkit-transform: scale(0);
		-moz-transform: scale(0);
		-o-transform: scale(0);
		transform: scale(0);
	}
}
@-o-keyframes ellipScroll {
	0%,
    100% {
		opacity: 1;
		-webkit-transform: scale(1);
		-moz-transform: scale(1);
		-o-transform: scale(1);
		transform: scale(1);
	}

	20% {
		opacity: 1;
	}
	80% {
		opacity: 0;
		-webkit-transform: scale(0);
		-moz-transform: scale(0);
		-o-transform: scale(0);
		transform: scale(0);
	}
}
@keyframes ellipScroll {
	0%,
    100% {
		opacity: 1;
		-webkit-transform: scale(1);
		-moz-transform: scale(1);
		-o-transform: scale(1);
		transform: scale(1);
	}

	20% {
		opacity: 1;
	}
	80% {
		opacity: 0;
		-webkit-transform: scale(0);
		-moz-transform: scale(0);
		-o-transform: scale(0);
		transform: scale(0);
	}
}
/* 省略号E */
/* Timer */

    .la-timer,
    .la-timer > div {
        position: relative;
        -webkit-box-sizing: border-box;
           -moz-box-sizing: border-box;
                box-sizing: border-box;
    }

    .la-timer {
        display: block;
        font-size: 0;
        color: #fff;
    }

    .la-timer.la-dark {
        color: #333;
    }

    .la-timer > div {
        display: inline-block;
        float: none;
        background-color: currentColor;
        border: 0 solid currentColor;
    }

    .la-timer {
        width: 32px;
        height: 32px;
    }

    .la-timer > div {
        width: 32px;
        height: 32px;
        background: transparent;
        border-width: 2px;
        border-radius: 100%;
    }

    .la-timer > div:before,
    .la-timer > div:after {
        position: absolute;
        top: 14px;
        left: 14px;
        display: block;
        width: 2px;
        margin-top: -1px;
        margin-left: -1px;
        content: "";
        background: #000;
        border-radius: 2px;
        -webkit-transform-origin: 1px 1px 0;
           -moz-transform-origin: 1px 1px 0;
            -ms-transform-origin: 1px 1px 0;
             -o-transform-origin: 1px 1px 0;
                transform-origin: 1px 1px 0;
        -webkit-animation: timer-loader 1250ms infinite linear;
           -moz-animation: timer-loader 1250ms infinite linear;
             -o-animation: timer-loader 1250ms infinite linear;
                animation: timer-loader 1250ms infinite linear;
        -webkit-animation-delay: -625ms;
           -moz-animation-delay: -625ms;
             -o-animation-delay: -625ms;
                animation-delay: -625ms;
    }

    .la-timer > div:before {
        height: 12px;
    }

    .la-timer > div:after {
        height: 8px;
        -webkit-animation-duration: 15s;
           -moz-animation-duration: 15s;
             -o-animation-duration: 15s;
                animation-duration: 15s;
        -webkit-animation-delay: -7.5s;
           -moz-animation-delay: -7.5s;
             -o-animation-delay: -7.5s;
                animation-delay: -7.5s;
    }

    .la-timer.la-sm {
        width: 16px;
        height: 16px;
    }

    .la-timer.la-sm > div {
        width: 16px;
        height: 16px;
        border-width: 1px;
    }

    .la-timer.la-sm > div:before,
    .la-timer.la-sm > div:after {
        top: 7px;
        left: 7px;
        width: 1px;
        margin-top: -.5px;
        margin-left: -.5px;
        border-radius: 1px;
        -webkit-transform-origin: .5px .5px 0;
           -moz-transform-origin: .5px .5px 0;
            -ms-transform-origin: .5px .5px 0;
             -o-transform-origin: .5px .5px 0;
                transform-origin: .5px .5px 0;
    }

    .la-timer.la-sm > div:before {
        height: 6px;
    }

    .la-timer.la-sm > div:after {
        height: 4px;
    }

    .la-timer.la-2x {
        width: 64px;
        height: 64px;
    }

    .la-timer.la-2x > div {
        width: 64px;
        height: 64px;
        border-width: 4px;
    }

    .la-timer.la-2x > div:before,
    .la-timer.la-2x > div:after {
        top: 28px;
        left: 28px;
        width: 4px;
        margin-top: -2px;
        margin-left: -2px;
        border-radius: 4px;
        -webkit-transform-origin: 2px 2px 0;
           -moz-transform-origin: 2px 2px 0;
            -ms-transform-origin: 2px 2px 0;
             -o-transform-origin: 2px 2px 0;
                transform-origin: 2px 2px 0;
    }

    .la-timer.la-2x > div:before {
        height: 24px;
    }

    .la-timer.la-2x > div:after {
        height: 16px;
    }

    .la-timer.la-3x {
        width: 96px;
        height: 96px;
    }

    .la-timer.la-3x > div {
        width: 96px;
        height: 96px;
        border-width: 6px;
    }

    .la-timer.la-3x > div:before,
    .la-timer.la-3x > div:after {
        top: 42px;
        left: 42px;
        width: 6px;
        margin-top: -3px;
        margin-left: -3px;
        border-radius: 6px;
        -webkit-transform-origin: 3px 3px 0;
           -moz-transform-origin: 3px 3px 0;
            -ms-transform-origin: 3px 3px 0;
             -o-transform-origin: 3px 3px 0;
                transform-origin: 3px 3px 0;
    }

    .la-timer.la-3x > div:before {
        height: 36px;
    }

    .la-timer.la-3x > div:after {
        height: 24px;
    }

    /*
     * Animation
     */
    @-webkit-keyframes timer-loader {
        0% {
            -webkit-transform: rotate(0deg);
                    transform: rotate(0deg);
        }
        100% {
            -webkit-transform: rotate(360deg);
                    transform: rotate(360deg);
        }
    }
    @-moz-keyframes timer-loader {
        0% {
            -moz-transform: rotate(0deg);
                 transform: rotate(0deg);
        }
        100% {
            -moz-transform: rotate(360deg);
                 transform: rotate(360deg);
        }
    }
    @-o-keyframes timer-loader {
        0% {
            -o-transform: rotate(0deg);
               transform: rotate(0deg);
        }
        100% {
            -o-transform: rotate(360deg);
               transform: rotate(360deg);
        }
    }
    @keyframes timer-loader {
        0% {
            -webkit-transform: rotate(0deg);
               -moz-transform: rotate(0deg);
                 -o-transform: rotate(0deg);
                    transform: rotate(0deg);
        }
        100% {
            -webkit-transform: rotate(360deg);
               -moz-transform: rotate(360deg);
                 -o-transform: rotate(360deg);
                    transform: rotate(360deg);
        }
    }
