@remsize:37.5px;
html {
	font-size:@remsize
}
body {
	overflow-x:hidden;
}
.l-container {
	position:relative;
	width:100%;
	max-width:768px;
	height:auto;
	margin:0 auto;
	text-align:center;color:#fff;
	font-size:(18px / @remsize)*1rem;
	& > img.signBg {
		position:absolute;left:0;top:0;
	  	width:100%;height:auto;
	  	max-width:100%;
	}
	& > *:not(img) {
		position:relative;z-index:2;
	}
	.l-signTxt {
		padding-top:(153px / @remsize)*1rem;
		img {
			width:((233px / 2) / @remsize)*1rem;
			height:((56px / 2) / @remsize)*1rem;
		}
	}
	.l-staff {
		padding-top:(40px / @remsize)*1rem;
		line-height:(26px / @remsize)*1rem;
	}
	.l-seatInfo {
		padding-top:(52px / @remsize)*1rem;
		font-size:(22px / @remsize)*1rem;
		line-height:(36px / @remsize)*1rem;
		img.welcome {
			width:((110px / 2) / @remsize)*1rem;
			height:((27px / 2) / @remsize)*1rem;
			margin-top:(16px / @remsize)*1rem;
		}
	}
}
