
/* 查询区域 */
.ds-searchBox {
	margin:146px auto 0;
	width:1700px;
}
.ds-inputArea {
	position:relative;width:820px;height:72px;margin:0 auto;
}
.ds-inputArea > input {
	display:block;width:570px;height:100%;
	color:#000;font-size:36px;line-height:72px;
	padding-left:20px;border-top-left-radius:6px;
	border-bottom-left-radius:6px;background:#fff;
}
.ds-inputArea > p {
	width:250px;height:72px;
	background:#00a0e9;
	border:1px solid #b1d2f5;
	border-top-right-radius:6px;
	border-bottom-right-radius:6px;
	box-shadow:0px 0px 10px 0px #d8d8d8;
	-webkit-user-select:none;
	user-select:none;
}
.ds-inputArea > p:active {
	background:#0485c0;
	box-shadow:0px 0px 0px 0px #d8d8d8;
}
.ds-inputArea > p > i {
	width:34px;height:34px;margin:19px 9px 0 29px;
	background:url('../images/sBtn.png') no-repeat;
}
.ds-inputArea > p > span {
	font-size:36px;color:#fff;line-height:68px;
}
/* 验证输入的案件编号 */
.ds-inputArea > span.validate {
	display:none;position:absolute;left:820px;top:0;font-size:30px;color:#e50000;
	width:240px;height:72px;line-height:72px;text-align:center;
	overflow:hidden;white-space:nowrap;text-overflow:ellipsis;
}
/*  */
.animated {
	-webkit-animation-duration: .6s;
	animation-duration: .6s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}
/* flash */
@-webkit-keyframes bounce {
	0%,
    100%,
    20%,
    53%,
    80% {
		-webkit-transform: translate3d(0,0,0);
		transform: translate3d(0,0,0);
		-webkit-animation-timing-function: cubic-bezier(.215,.61,.355,1);
		animation-timing-function: cubic-bezier(.215,.61,.355,1);
	}

	40%,
    43% {
		-webkit-transform: translate3d(0,-30px,0);
		transform: translate3d(0,-30px,0);
		-webkit-animation-timing-function: cubic-bezier(.755,.050,.855,.060);
		animation-timing-function: cubic-bezier(.755,.050,.855,.060);
	}

	70% {
		-webkit-transform: translate3d(0,-15px,0);
		transform: translate3d(0,-15px,0);
		-webkit-animation-timing-function: cubic-bezier(.755,.050,.855,.060);
		animation-timing-function: cubic-bezier(.755,.050,.855,.060);
	}

	90% {
		-webkit-transform: translate3d(0,-4px,0);
		transform: translate3d(0,-4px,0);
	}
}

@keyframes bounce {
	0%,
    100%,
    20%,
    53%,
    80% {
		-webkit-transform: translate3d(0,0,0);
		transform: translate3d(0,0,0);
		-webkit-animation-timing-function: cubic-bezier(.215,.61,.355,1);
		animation-timing-function: cubic-bezier(.215,.61,.355,1);
	}

	40%,
    43% {
		-webkit-transform: translate3d(0,-30px,0);
		transform: translate3d(0,-30px,0);
		-webkit-animation-timing-function: cubic-bezier(.755,.050,.855,.060);
		animation-timing-function: cubic-bezier(.755,.050,.855,.060);
	}

	70% {
		-webkit-transform: translate3d(0,-15px,0);
		transform: translate3d(0,-15px,0);
		-webkit-animation-timing-function: cubic-bezier(.755,.050,.855,.060);
		animation-timing-function: cubic-bezier(.755,.050,.855,.060);
	}

	90% {
		-webkit-transform: translate3d(0,-4px,0);
		transform: translate3d(0,-4px,0);
	}
}

.bounce {
	-webkit-transform-origin: center bottom;
	transform-origin: center bottom;
	-webkit-animation-name: bounce;
	animation-name: bounce;
}

@-webkit-keyframes flash {
	0%,
    100%,
    50% {
		opacity: 1;
	}

	25%,
    75% {
		opacity: 0;
	}
}

@keyframes flash {
	0%,
    100%,
    50% {
		opacity: 1;
	}

	25%,
    75% {
		opacity: 0;
	}
}

.flash {
	-webkit-animation-name: flash;
	animation-name: flash;
}

@-webkit-keyframes pulse {
	0% {
		-webkit-transform: scale3d(1,1,1);
		transform: scale3d(1,1,1);
	}

	50% {
		-webkit-transform: scale3d(1.05,1.05,1.05);
		transform: scale3d(1.05,1.05,1.05);
	}

	100% {
		-webkit-transform: scale3d(1,1,1);
		transform: scale3d(1,1,1);
	}
}

@keyframes pulse {
	0% {
		-webkit-transform: scale3d(1,1,1);
		transform: scale3d(1,1,1);
	}

	50% {
		-webkit-transform: scale3d(1.05,1.05,1.05);
		transform: scale3d(1.05,1.05,1.05);
	}

	100% {
		-webkit-transform: scale3d(1,1,1);
		transform: scale3d(1,1,1);
	}
}

.pulse {
	-webkit-animation-name: pulse;
	animation-name: pulse;
}

@-webkit-keyframes rubberBand {
	0% {
		-webkit-transform: scale3d(1,1,1);
		transform: scale3d(1,1,1);
	}

	30% {
		-webkit-transform: scale3d(1.25,.75,1);
		transform: scale3d(1.25,.75,1);
	}

	40% {
		-webkit-transform: scale3d(.75,1.25,1);
		transform: scale3d(.75,1.25,1);
	}

	50% {
		-webkit-transform: scale3d(1.15,.85,1);
		transform: scale3d(1.15,.85,1);
	}

	65% {
		-webkit-transform: scale3d(.95,1.05,1);
		transform: scale3d(.95,1.05,1);
	}

	75% {
		-webkit-transform: scale3d(1.05,.95,1);
		transform: scale3d(1.05,.95,1);
	}

	100% {
		-webkit-transform: scale3d(1,1,1);
		transform: scale3d(1,1,1);
	}
}

@keyframes rubberBand {
	0% {
		-webkit-transform: scale3d(1,1,1);
		transform: scale3d(1,1,1);
	}

	30% {
		-webkit-transform: scale3d(1.25,.75,1);
		transform: scale3d(1.25,.75,1);
	}

	40% {
		-webkit-transform: scale3d(.75,1.25,1);
		transform: scale3d(.75,1.25,1);
	}

	50% {
		-webkit-transform: scale3d(1.15,.85,1);
		transform: scale3d(1.15,.85,1);
	}

	65% {
		-webkit-transform: scale3d(.95,1.05,1);
		transform: scale3d(.95,1.05,1);
	}

	75% {
		-webkit-transform: scale3d(1.05,.95,1);
		transform: scale3d(1.05,.95,1);
	}

	100% {
		-webkit-transform: scale3d(1,1,1);
		transform: scale3d(1,1,1);
	}
}

.rubberBand {
	-webkit-animation-name: rubberBand;
	animation-name: rubberBand;
}

@-webkit-keyframes shake {
	0%,
    100% {
		-webkit-transform: translate3d(0,0,0);
		transform: translate3d(0,0,0);
	}

	10%,
    30%,
    50%,
    70%,
    90% {
		-webkit-transform: translate3d(-10px,0,0);
		transform: translate3d(-10px,0,0);
	}

	20%,
    40%,
    60%,
    80% {
		-webkit-transform: translate3d(10px,0,0);
		transform: translate3d(10px,0,0);
	}
}

@keyframes shake {
	0%,
    100% {
		-webkit-transform: translate3d(0,0,0);
		transform: translate3d(0,0,0);
	}

	10%,
    30%,
    50%,
    70%,
    90% {
		-webkit-transform: translate3d(-10px,0,0);
		transform: translate3d(-10px,0,0);
	}

	20%,
    40%,
    60%,
    80% {
		-webkit-transform: translate3d(10px,0,0);
		transform: translate3d(10px,0,0);
	}
}

.shake {
	-webkit-animation-name: shake;
	animation-name: shake;
}

@-webkit-keyframes swing {
	20% {
		-webkit-transform: rotate3d(0,0,1,15deg);
		transform: rotate3d(0,0,1,15deg);
	}

	40% {
		-webkit-transform: rotate3d(0,0,1,-10deg);
		transform: rotate3d(0,0,1,-10deg);
	}

	60% {
		-webkit-transform: rotate3d(0,0,1,5deg);
		transform: rotate3d(0,0,1,5deg);
	}

	80% {
		-webkit-transform: rotate3d(0,0,1,-5deg);
		transform: rotate3d(0,0,1,-5deg);
	}

	100% {
		-webkit-transform: rotate3d(0,0,1,0deg);
		transform: rotate3d(0,0,1,0deg);
	}
}

@keyframes swing {
	20% {
		-webkit-transform: rotate3d(0,0,1,15deg);
		transform: rotate3d(0,0,1,15deg);
	}

	40% {
		-webkit-transform: rotate3d(0,0,1,-10deg);
		transform: rotate3d(0,0,1,-10deg);
	}

	60% {
		-webkit-transform: rotate3d(0,0,1,5deg);
		transform: rotate3d(0,0,1,5deg);
	}

	80% {
		-webkit-transform: rotate3d(0,0,1,-5deg);
		transform: rotate3d(0,0,1,-5deg);
	}

	100% {
		-webkit-transform: rotate3d(0,0,1,0deg);
		transform: rotate3d(0,0,1,0deg);
	}
}

.swing {
	-webkit-transform-origin: top center;
	transform-origin: top center;
	-webkit-animation-name: swing;
	animation-name: swing;
}

@-webkit-keyframes tada {
	0% {
		-webkit-transform: scale3d(1,1,1);
		transform: scale3d(1,1,1);
	}

	10%,
    20% {
		-webkit-transform: scale3d(.9,.9,.9) rotate3d(0,0,1,-3deg);
		transform: scale3d(.9,.9,.9) rotate3d(0,0,1,-3deg);
	}

	30%,
    50%,
    70%,
    90% {
		-webkit-transform: scale3d(1.1,1.1,1.1) rotate3d(0,0,1,3deg);
		transform: scale3d(1.1,1.1,1.1) rotate3d(0,0,1,3deg);
	}

	40%,
    60%,
    80% {
		-webkit-transform: scale3d(1.1,1.1,1.1) rotate3d(0,0,1,-3deg);
		transform: scale3d(1.1,1.1,1.1) rotate3d(0,0,1,-3deg);
	}

	100% {
		-webkit-transform: scale3d(1,1,1);
		transform: scale3d(1,1,1);
	}
}

@keyframes tada {
	0% {
		-webkit-transform: scale3d(1,1,1);
		transform: scale3d(1,1,1);
	}

	10%,
    20% {
		-webkit-transform: scale3d(.9,.9,.9) rotate3d(0,0,1,-3deg);
		transform: scale3d(.9,.9,.9) rotate3d(0,0,1,-3deg);
	}

	30%,
    50%,
    70%,
    90% {
		-webkit-transform: scale3d(1.1,1.1,1.1) rotate3d(0,0,1,3deg);
		transform: scale3d(1.1,1.1,1.1) rotate3d(0,0,1,3deg);
	}

	40%,
    60%,
    80% {
		-webkit-transform: scale3d(1.1,1.1,1.1) rotate3d(0,0,1,-3deg);
		transform: scale3d(1.1,1.1,1.1) rotate3d(0,0,1,-3deg);
	}

	100% {
		-webkit-transform: scale3d(1,1,1);
		transform: scale3d(1,1,1);
	}
}

.tada {
	-webkit-animation-name: tada;
	animation-name: tada;
}

@-webkit-keyframes wobble {
	0% {
		-webkit-transform: none;
		transform: none;
	}

	15% {
		-webkit-transform: translate3d(-25%,0,0) rotate3d(0,0,1,-5deg);
		transform: translate3d(-25%,0,0) rotate3d(0,0,1,-5deg);
	}

	30% {
		-webkit-transform: translate3d(20%,0,0) rotate3d(0,0,1,3deg);
		transform: translate3d(20%,0,0) rotate3d(0,0,1,3deg);
	}

	45% {
		-webkit-transform: translate3d(-15%,0,0) rotate3d(0,0,1,-3deg);
		transform: translate3d(-15%,0,0) rotate3d(0,0,1,-3deg);
	}

	60% {
		-webkit-transform: translate3d(10%,0,0) rotate3d(0,0,1,2deg);
		transform: translate3d(10%,0,0) rotate3d(0,0,1,2deg);
	}

	75% {
		-webkit-transform: translate3d(-5%,0,0) rotate3d(0,0,1,-1deg);
		transform: translate3d(-5%,0,0) rotate3d(0,0,1,-1deg);
	}

	100% {
		-webkit-transform: none;
		transform: none;
	}
}

@keyframes wobble {
	0% {
		-webkit-transform: none;
		transform: none;
	}

	15% {
		-webkit-transform: translate3d(-25%,0,0) rotate3d(0,0,1,-5deg);
		transform: translate3d(-25%,0,0) rotate3d(0,0,1,-5deg);
	}

	30% {
		-webkit-transform: translate3d(20%,0,0) rotate3d(0,0,1,3deg);
		transform: translate3d(20%,0,0) rotate3d(0,0,1,3deg);
	}

	45% {
		-webkit-transform: translate3d(-15%,0,0) rotate3d(0,0,1,-3deg);
		transform: translate3d(-15%,0,0) rotate3d(0,0,1,-3deg);
	}

	60% {
		-webkit-transform: translate3d(10%,0,0) rotate3d(0,0,1,2deg);
		transform: translate3d(10%,0,0) rotate3d(0,0,1,2deg);
	}

	75% {
		-webkit-transform: translate3d(-5%,0,0) rotate3d(0,0,1,-1deg);
		transform: translate3d(-5%,0,0) rotate3d(0,0,1,-1deg);
	}

	100% {
		-webkit-transform: none;
		transform: none;
	}
}

.wobble {
	-webkit-animation-name: wobble;
	animation-name: wobble;
}

@-webkit-keyframes jello {
	0%,
    100%,
    11.1% {
		-webkit-transform: none;
		transform: none;
	}

	22.2% {
		-webkit-transform: skewX(-12.5deg) skewY(-12.5deg);
		transform: skewX(-12.5deg) skewY(-12.5deg);
	}

	33.3% {
		-webkit-transform: skewX(6.25deg) skewY(6.25deg);
		transform: skewX(6.25deg) skewY(6.25deg);
	}

	44.4% {
		-webkit-transform: skewX(-3.125deg) skewY(-3.125deg);
		transform: skewX(-3.125deg) skewY(-3.125deg);
	}

	55.5% {
		-webkit-transform: skewX(1.5625deg) skewY(1.5625deg);
		transform: skewX(1.5625deg) skewY(1.5625deg);
	}

	66.6% {
		-webkit-transform: skewX(-.78125deg) skewY(-.78125deg);
		transform: skewX(-.78125deg) skewY(-.78125deg);
	}

	77.7% {
		-webkit-transform: skewX(.390625deg) skewY(.390625deg);
		transform: skewX(.390625deg) skewY(.390625deg);
	}

	88.8% {
		-webkit-transform: skewX(-.1953125deg) skewY(-.1953125deg);
		transform: skewX(-.1953125deg) skewY(-.1953125deg);
	}
}

@keyframes jello {
	0%,
    100%,
    11.1% {
		-webkit-transform: none;
		transform: none;
	}

	22.2% {
		-webkit-transform: skewX(-12.5deg) skewY(-12.5deg);
		transform: skewX(-12.5deg) skewY(-12.5deg);
	}

	33.3% {
		-webkit-transform: skewX(6.25deg) skewY(6.25deg);
		transform: skewX(6.25deg) skewY(6.25deg);
	}

	44.4% {
		-webkit-transform: skewX(-3.125deg) skewY(-3.125deg);
		transform: skewX(-3.125deg) skewY(-3.125deg);
	}

	55.5% {
		-webkit-transform: skewX(1.5625deg) skewY(1.5625deg);
		transform: skewX(1.5625deg) skewY(1.5625deg);
	}

	66.6% {
		-webkit-transform: skewX(-.78125deg) skewY(-.78125deg);
		transform: skewX(-.78125deg) skewY(-.78125deg);
	}

	77.7% {
		-webkit-transform: skewX(.390625deg) skewY(.390625deg);
		transform: skewX(.390625deg) skewY(.390625deg);
	}

	88.8% {
		-webkit-transform: skewX(-.1953125deg) skewY(-.1953125deg);
		transform: skewX(-.1953125deg) skewY(-.1953125deg);
	}
}

.jello {
	-webkit-transform-origin: center;
	transform-origin: center;
	-webkit-animation-name: jello;
	animation-name: jello;
}
