body {
	overflow:hidden;
	background:url('../images/bodyBg.png') center top no-repeat;
}
.ds-header {
	width:100%;height:160px;color:#fff;
	background:url('../images/headerBg.png') no-repeat;
}
.ds-header > a {
	height:108px;
	margin:27px 0 0 50px;
}
.ds-header > a > i {
	width:97px;height:107px;margin-right:16px;
	background:url('../images/jinhui.png') no-repeat;
}
.ds-header > a > span {
	font-size:60px;color:#fff;line-height:108px;
}
.ds-header > div {
	font-size:30px;margin:32px 85px 0 0;color:#eee;
}
.ds-header p.iconP {
	height:50px;
	font-size:30px;
}
.ds-header p.iconP i {
	width:50px;height:50px;margin-right:7px;
	background:url('../images/phone.png') no-repeat;
}
.ds-header p.iconP span {
	line-height:50px;
}
.ds-header p.num {
	line-height:58px;
}
.ds-footer {
	position:fixed;left:0;bottom:0;width:100%;height:128px;font-size:24px;color:#e9f0f3;
	background:rgba(0,0,0,0.3);
}
.ds-footer > .footerTxt {
	margin:28px 0 0 30px;line-height:36px;
}
.ds-footer > .btnBox {
	margin:20px 40px 0 0 ;
}
.ds-footer > .btnBox > span {
	position:relative;width:300px;height:96px;margin-left:10px;
	cursor:pointer;transition:all .1s ease-in;
}
.ds-footer > .btnBox > span:before {
	content:'';position:absolute;top:-4px;left:-4px;
	width:100%;height:100%;
}
.ds-footer > .btnBox > span:active {
	box-shadow:0px 0px 20px 0px #fff;transform:translateY(2px);
}

.ds-footer > .btnBox > span.on:before {
	border:4px dashed #ccc;
}
.ds-footer > .btnBox > span.home {
	background:url('../images/home.png') no-repeat;
}
.ds-footer > .btnBox > span.return {
	background:url('../images/back.png') no-repeat;
}
.ds-footer > .btnBox > span.next {
	background:url('../images/next.png') no-repeat;
}
.ds-footer > .btnBox > span.home {
	background:url('../images/home.png') no-repeat;
}
/* 键盘输入区域 */
.ds-operateArea {
	position:relative;/* width:1692px; */
	margin:0 auto;
	overflow:hidden;
}
.ds-iframe {
	width:100%;height:100%;
}
/*  */
@media screen and (max-width:1470px){
	.ds-header > div {
		margin:0;position:absolute;top:32px;right:85px;
	}
}
@media screen and (max-width:1680px) {
	.ds-footer > .btnBox {
		margin:0;position:absolute;top:20px;right:40px;
	}
}



