
/* 输入框 */
.ds-searchBox {
	margin:146px auto 0;
	width:1700px;
}
.ds-inputArea {
	width:1050px;margin:0 auto;font-size:36px;
}
.ds-inputArea > label {
	display:block;height:72px;margin-right:20px;
	color:#fff;
}
.ds-inputArea > label > input {
	display:block;width:722px;height:100%;
	color:#000;line-height:72px;font-size:36px;
	padding-left:20px;border-radius:6px;
	background:#fff;
}
.ds-inputArea > label > span {
	line-height:72px;margin-right:20px;
}
.ds-inputArea > p {
	width:260px;height:72px;line-height:72px;
	background:#00a0e9;color:#fff;
	border-radius:6px;text-align:center;
	box-shadow:0px 0px 10px 0px #3bb6ee;
}
.ds-notice {
	width:520px;height:390px;margin:110px auto 0;
	border:2px solid #e3e3e3;
}