.ds-infoShowArea {
	margin-top:104px;
	padding:0 110px;
}
.table.wid1080 {
	width:1080px;
}
.table.wid1080 td {
	height:48px;line-height: 48px;
	text-align:left;
}
.table.wid1080 td.limitLine p {
	padding-bottom:8px;
	overflow : hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}
.ds-preImgBox {
	width:590px;/* height:564px; */
	margin-left:20px;font-size:0;
	padding:10px 0 0 10px;
	background:rgba(0,0,0,0.3);
}
.ds-preImgBox img {
	width:280px;height:253px;
	margin:0 10px 10px 0;
}
/* 打印报案信息小票 */
.ds-infoPrint {
	position:absolute;left:50%;margin-left:-114px;
	top:140px;
	width:228px;min-height:424px;z-index:9;
	color:#fff;text-align:center;
	display:none;
}
.ds-infoPrint > h2,.ds-caseInfo > h2 {
	font-size:24px;line-height:64px;
	font-weight:normal;
}
.ds-caseInfo {
	padding:10px 6px 24px;
	border:1px solid #fff;
}
.ds-caseInfo > h2 {
	line-height:58px;
}
.ds-caseInfo > p {
	text-align:left;font-size:14px;line-height:24px;
}
.ds-caseInfo > p.limitLine {
	text-indent:2em;
}


