.ds-lawsTxt {
	position:relative;z-index:3;
	font-size:30px;color:#ededed;
}
.ds-lawsTxt p.title {
	font-size:60px;color:#fff;height:200px;
	line-height:220px;text-align:center;
}
.ds-lawsTxt div.details {
	padding-left:350px;
}
.ds-lawsTxt div.details > p {
	line-height:48px;
}
.ds-btnBox {
	position:relative;z-index:3;font-size:0;
	margin-top:170px;text-align:center;
}
.ds-btnBox > span {
	display:inline-block;width:260px;height:72px;line-height:72px;
	background:#c7ced3;color:#fff;font-size:36px;
	border-radius:6px;text-align:center;
	box-shadow:0px 0px 10px 0px #3bb6ee;
	transition:all .1s ease-in;
}
.ds-btnBox > span:active {
	-webkit-transform: translateY(3px);
    -moz-transform: translateY(3px);
    -o-transform: translateY(3px);
    transform: translateY(3px);
    box-shadow:0px 0px 0 0px #3bb6ee;
}
.ds-btnBox > span.agree {
	background:#00a0e9;margin-right:50px;
}
/* 
	1、遇有紧急情况，建议您直接拨打110电话报警。 2、本机只受理湖南地区的违法犯罪线索和治安问题举报。 3、请留下有效的联系电
 */

