body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
input,
button,
textarea, table, tr, td,
p {
    margin: 0;
    padding: 0;
}

body {
    color:#333;
    font-size:24px;
    font-family:'Microsoft YaHei', Verdana, Arial, Helvetica, sans-serif;
    background:url('../images/bodyBg.png') center top no-repeat;
    padding-bottom:128px;
    overflow:hidden;
}
i {
    font-style: normal;
}

a {
    color: #333;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

img {
    border: none;
    vertical-align: middle;
}

ol,
ul,
li {
    list-style: none;
}

table, tr, td {
    border-collapse: collapse;
    border-spacing: 0;
}

input, select,textarea {
    border: none;
    height: 30px;
    color: #666;
    font-family:'Microsoft YaHei';
}

input:focus, select:focus {
    outline: none;
}

textarea {
    border:1px solid #cbcac6;
    padding: 12px 9px;
    color: #333;
}

textarea:focus {
    outline: none;
}

/* 设置输入框placeholder的样式 */
:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: #999;
}

::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: #999;
}

input:-ms-input-placeholder,textarea:-ms-input-placeholder {
    color: #999;
}

input::-webkit-input-placeholder,textarea::-webkit-input-placeholder {
    color: #999;
}

/*左浮动*/
.fl {
    float: left;
}

/*右浮动*/
.fr {
    float: right;
}

.clear:before {
    content: '';
    display: table;
    clear: both;
}

.clear:after {
    content: '';
    display: table;
    clear: both;
}

* {
    box-sizing: border-box;
}

/* 操作步骤 */
.ds-queryProceBox {
    position:absolute;top:170px;left:30px;width:100%;height:60px;
    font-size:24px;z-index:3;
}
.ds-proceBtn {
    float:left;line-height:60px;
    height:100%;
}
.ds-proceHome {
    width:69px;
    background:url('../images/bzHome.png') no-repeat;
}
.ds-proce {
    width:202px;text-align:center;color:#444;margin-left:-12px;
    background:url('../images/notSel.png') no-repeat;
}
.ds-proce.sel {
    background:url('../images/isSel.png') no-repeat;
}
.ds-proce:last-child {
    width:220px;
    background:url('../images/complete.png') no-repeat;
}
.ds-proce:last-child.sel {
    width:220px;
    background:url('../images/isSel.png') no-repeat;
}


/* complete.png */
/* 表格 */
.table {
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-bottom:none;
    border-collapse: collapse;
    border-spacing:0;
    margin:0 auto;
}
.table.mr57 {
    margin-top:57px;
}
.table.mr20 {
    margin-top:20px;
}
.table.mr14 {
    margin-top:14px;
}
.table td {
    position: relative;
    text-align: center;
    font-size: 24px;color:#fff;
    height:58px;line-height:58px;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    word-break:break-all;
    word-wrap:break-word;
}
.table thead td {
    height:60px;line-height:60px;
}
.table thead tr > td:last-child,.table tbody tr > td:last-child {
    border-right:none;
}
.table thead tr > td {
    color:#fff;line-height:58px;font-weight:normal;
}
.table thead tr > td:nth-child(1) {
    width:310px;
}
.table thead tr > td:nth-child(2) {
    width:310px;
}
.table thead tr > td:nth-child(3) {
    width:560px;
}
.table thead tr > td:nth-child(4) {
    width:338px;
}
.table thead tr > td:nth-child(5) {
    width:180px;
}
.table tbody a.word {
    display:block;color:#fff;
}

/* 页头 */

.ds-header {
    position:relative;width:100%;height:140px;color:#fff;
    background:url('../images/headerBg.png') no-repeat;
    z-index:3;
}
.ds-header > a {
    height:108px;
    margin:20px 0 0 50px;
}
.ds-header > a > i {
    width:91px;height:100px;margin-right:16px;
    background:url('../images/jinhui.png') no-repeat;
}
.ds-header > a > span {
    font-size:50px;color:#fff;line-height:102px;
}
.ds-header > div {
    width:360px;font-size:22px;margin:40px 30px 0 0;color:#eee;
}
.ds-header p.iconP {
    height:40px;
    font-size:30px;
}
.ds-header p.iconP span.txt {
    font-size:24px;margin:7px 0 0 14px;
}
.ds-header p.iconP span.num {
    font-size:32px;line-height:40px;
}
.ds-header p.num {
    line-height:34px;text-align:right;padding-right:12px;
}
/* 页脚 */
.ds-footer {
    position:fixed;left:0;bottom:0;width:100%;height:128px;font-size:24px;color:#e9f0f3;
    background:rgba(0,0,0,0.3);z-index:3;
}
.ds-footer > .footerTxt {
    margin:28px 0 0 30px;line-height:36px;
}
.ds-footer > .btnBox {
    margin:20px 40px 0 0 ;
}
.ds-footer > .btnBox > span {
    position:relative;width:300px;height:96px;margin-left:10px;
    cursor:pointer;transition:all .1s ease-in;
}
.ds-footer > .btnBox > span:before {
    content:'';position:absolute;top:-4px;left:-4px;
    width:100%;height:100%;
}
.ds-footer > .btnBox > span:active {
    box-shadow:0px 0px 20px 0px #fff;transform:translateY(2px);
}
.ds-footer > .btnBox > span.on:before {
    border:4px dashed #ccc;
}
.ds-footer > .btnBox > span.home {
    background:url('../images/home.png') no-repeat;
}
.ds-footer > .btnBox > span.return {
    background:url('../images/back.png') no-repeat;
}
.ds-footer > .btnBox > span.next {
    background:url('../images/next.png') no-repeat;
}
.ds-footer > .btnBox > span.confirm {
    background:url('../images/confirm.png') no-repeat;
}
/* 背景图片 */
.ds-testBodyBg {
    position:absolute;top:0;left:0;width:1920px;height:1080px;
}

/* 分页 */
.ds-page {
    height:72px;
    text-align:center;
    font-size:0;
}
.ds-page > * {
    display:inline-block;
}
.ds-page > span {
    width: 210px;
    height: 72px;line-height:72px;
    font-size:36px;
    color:#fff;
    background: #00a0e9;
    border: 1px solid #b1d2f5;
    border-radius: 6px;
    box-shadow: 0px 0px 10px 0px #d8d8d8;
    -webkit-user-select: none;
    user-select: none;
    -webkit-transition:all .1s ease-in-out;
    transition:all .1s ease-in-out;
}
.ds-page > span:first-child {
    margin-right:60px;
}
.ds-page > span:active {
    -webkit-transform: translateY(3px);
    -moz-transform: translateY(3px);
    -o-transform: translateY(3px);
    transform: translateY(3px);
    box-shadow: 0px 0px 0px 0px #d8d8d8;
}
.ds-page > span.none {
    background:#919699;
}

.ds-page > p {
    font-size:36px;line-height: 72px;
    color:#e3e3e3;
}
.ds-page > p.first {
    margin-left:18px;
}

/* 拍照 */
.ds-getCamera {
    position:fixed;top:0;left:0;bottom:0;right:0;
    background:rgba(0,0,0,0.3);z-index:10009;
    display:block;
}
.ds-cameraArea {
    position:absolute;top:50%;left:50%;
    width:800px;height:770px;
    margin:-385px 0 0 -400px;
    text-align:center;
}
.ds-cameraBox {
    position:relative;margin-bottom:36px;
    width:100%;height:600px;
    border:2px solid #fff;overflow:hidden;
}
.ds-cameraBox video {
    background:#000;
}
.ds-cameraArea > span {
    display: inline-block;
    width: 210px;
    height: 72px;line-height:72px;
    font-size:36px;
    color:#fff;
    background: #00a0e9;
    border: 1px solid #b1d2f5;
    border-radius: 6px;
    box-shadow: 0px 0px 10px 0px #d8d8d8;
    -webkit-user-select: none;
    user-select: none;
    -webkit-transition:all .1s ease-in-out;
    transition:all .1s ease-in-out;
}
.ds-cameraArea > span:active {
    -webkit-transform: translateY(3px);
    -moz-transform: translateY(3px);
    -o-transform: translateY(3px);
    transform: translateY(3px);
    box-shadow: 0px 0px 0px 0px #d8d8d8;
}
/*  */

@media screen and (max-width:1470px){
    .ds-header > div {
        margin:0;position:absolute;top:32px;right:85px;
    }
}
@media screen and (max-width:1680px) {
    .ds-footer > .btnBox {
        margin:0;position:absolute;top:20px;right:40px;
    }
}
