/** 
 * CONTENTS
 *
 * BASE
 *
 * BUTTON TYPES
 *
 * MODIFIERS
 * Size
 * Mode
 */

/*------------------------------------*\
    BASE
\*------------------------------------*/

.softkeys {
	position:relative;
	display: table;
	list-style: none;
	margin: 2em auto;
	padding: 0;
	width: 100%;
	text-align: center;
	font-size: 1em;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-touch-callout: none;
}

.softkeys__btn,.softHideBtn {
	display: inline-block;
	text-align: center;
	font-size: 1em;
	line-height: 2.5em;
	min-width: 1em;
	padding: 0 1em;
	margin: 0 0.1em 0.4em 0.1em;
	border: 0.1em solid #aaa;
	border-radius: 5px;
	cursor: pointer;
}

.softkeys__btn:hover, .softkeys__btn:focus {
	outline: none;
	background-color: #4b94ce;
	border-color: #4b94ce;
	color: #fff;
}

.softkeys__btn span {
	display: none;
}

.softkeys__btn span:first-child {
	display: block;
}

.softkeys__new-row:before {
	display: block;
	content: ' ';
	width: 100%;
}


.softkeys {
	position:fixed;left:0;bottom:0;z-index:9999;
}
.softkeys.on {
	display:block;
}


/*------------------------------------*\
    BUTTON TYPEs
\*------------------------------------*/

.softkeys__btn--space {
	width: 10em;
}





/*------------------------------------*\
    SIZE MODIFIERS
\*------------------------------------*/

.softkeys--sm {
	font-size: 0.8em;
}

.softkeys--md {
	font-size: 1em;
}

.softkeys--lg {
	font-size: 1.2em;
}

.softkeys--xl {
	font-size: 1.4em;
}





/*------------------------------------*\
    MODE MODIFIERS
\*------------------------------------*/

/*.softkeys--caps*/ 
.softkeys--caps .softkeys__btn[data-type=capslock] {
	background-color: #4b94ce;
	border-color: #4b94ce;
	color: #fff;
}

.softkeys--caps .softkeys__btn[data-type=letter] {
	text-transform: uppercase;
}

/*.softkeys--alt*/ 

.softkeys--alt .softkeys__btn[data-type=shift] {
	background-color: #4b94ce;
	border-color: #4b94ce;
	color: #fff;
}

.softkeys--alt .softkeys__btn[data-type=symbol] span {
	display: none;
}

.softkeys--alt .softkeys__btn[data-type=symbol] span:last-child {
	display: block;
}
/* 收起按钮 */
.softHideBtn {
	
}

/* animated */
.animated {
    -webkit-animation-duration: .6s;
    animation-duration: .6s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes bounceInUp {
	0%,
    100%,
    60%,
    75%,
    90% {
		-webkit-animation-timing-function: cubic-bezier(.215,.61,.355,1);
		animation-timing-function: cubic-bezier(.215,.61,.355,1);
	}

	0% {
		-webkit-transform: translate3d(0,3000px,0);
		transform: translate3d(0,3000px,0);
		opacity: 0;
	}

	60% {
		-webkit-transform: translate3d(0,-20px,0);
		transform: translate3d(0,-20px,0);
		opacity: 1;
	}

	75% {
		-webkit-transform: translate3d(0,10px,0);
		transform: translate3d(0,10px,0);
	}

	90% {
		-webkit-transform: translate3d(0,-5px,0);
		transform: translate3d(0,-5px,0);
	}

	100% {
		-webkit-transform: translate3d(0,0,0);
		transform: translate3d(0,0,0);
	}
}

@keyframes bounceInUp {
	0%,
    100%,
    60%,
    75%,
    90% {
		-webkit-animation-timing-function: cubic-bezier(.215,.61,.355,1);
		animation-timing-function: cubic-bezier(.215,.61,.355,1);
	}

	0% {
		-webkit-transform: translate3d(0,3000px,0);
		transform: translate3d(0,3000px,0);
		opacity: 0;
	}

	60% {
		-webkit-transform: translate3d(0,-20px,0);
		transform: translate3d(0,-20px,0);
		opacity: 1;
	}

	75% {
		-webkit-transform: translate3d(0,10px,0);
		transform: translate3d(0,10px,0);
	}

	90% {
		-webkit-transform: translate3d(0,-5px,0);
		transform: translate3d(0,-5px,0);
	}

	100% {
		-webkit-transform: translate3d(0,0,0);
		transform: translate3d(0,0,0);
	}
}

.bounceInUp {
	-webkit-animation-name: bounceInUp;
	animation-name: bounceInUp;
}
/*  */

@-webkit-keyframes bounceOutDown {
	20% {
		-webkit-transform: translate3d(0,10px,0);
		transform: translate3d(0,10px,0);
	}

	40%,
    45% {
		-webkit-transform: translate3d(0,-20px,0);
		transform: translate3d(0,-20px,0);
		opacity: 1;
	}

	100% {
		-webkit-transform: translate3d(0,2000px,0);
		transform: translate3d(0,2000px,0);
		opacity: 0;
	}
}

@keyframes bounceOutDown {
	20% {
		-webkit-transform: translate3d(0,10px,0);
		transform: translate3d(0,10px,0);
	}

	40%,
    45% {
		-webkit-transform: translate3d(0,-20px,0);
		transform: translate3d(0,-20px,0);
		opacity: 1;
	}

	100% {
		-webkit-transform: translate3d(0,2000px,0);
		transform: translate3d(0,2000px,0);
		opacity: 0;
	}
}

.bounceOutDown {
	-webkit-animation-name: bounceOutDown;
	animation-name: bounceOutDown;
}
