body {
	overflow:hidden;
	/*background:url('../images/bodyBg.png') center top no-repeat;*/
}
.ds-queryInputBox {
	position:relative;text-align:center;margin-top:270px;
	z-index:3;
}
.ds-queryInputBox span {
	display:inline-block;width:300px;height:220px;cursor:pointer;border:1px solid #4883cc;
	background:#00a0e9;padding-top:50px;
	text-align:center;font-size:30px;background:#287dd8;color:#fff;border-radius:8px;box-shadow:inset 0px 0px 10px 0px #40b7ef,0px 0px 10px 0px #bebbc4;
	-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;
	-webkit-transition:all .2s ease-in;
	-moz-transition:all .2s ease-in;
	-o-transition:all .2s ease-in;
	transition:all .1s ease-in;
}
.ds-queryInputBox span {
	margin-right:180px;
}
.ds-queryInputBox span:last-child {
	margin-right:0;
}
.ds-queryInputBox span i,.ds-queryInputBox span b {
	display:block;margin:0 auto;
}
.ds-queryInputBox span i.search {
	width:65px;height:65px;
	background:url('../images/ds-search.png') no-repeat;
}
.ds-queryInputBox span i.alarm {
	width:48px;height:64px;
	background:url('../images/ds-sAlarm.png') no-repeat;
}
.ds-queryInputBox span i.laws {
	width:66px;height:62px;
	background:url('../images/ds-laws.png') no-repeat;
}
.ds-queryInputBox span b {
	font-weight:normal;font-size:36px;line-height:76px;color:#fff;text-align:center;
}
.ds-queryInputBox span:active {
	-webkit-transform:translateY(3px);
	-moz-transform:translateY(3px);
	-o-transform:translateY(3px);
	transform:translateY(3px);
	box-shadow:inset 0px 0px 10px 0px #40b7ef,0px 0px 0 0px #bebbc4;
}
.ds-queryInputBox span.onSel {
	-webkit-transform:translateY(3px);
	-moz-transform:translateY(3px);
	-o-transform:translateY(3px);
	transform:translateY(3px);
	box-shadow:inset 0px 0px 10px 0px #40b7ef,0px 0px 0 0px #bebbc4;
}
.ds-testBodyBg {
	position:absolute;top:0;left:0;width:1920px;height:1080px;
}
