
.ds-queryInputBox {
	text-align:center;margin-top:270px;
}
.ds-queryInputBox span {
	display:inline-block;width:300px;height:220px;cursor:pointer;border:1px solid #4883cc;
	background:#00a0e9;padding-top:50px;
	text-align:center;font-size:30px;background:#287dd8;color:#fff;border-radius:8px;box-shadow:inset 0px 0px 10px 0px #40b7ef,0px 0px 10px 0px #bebbc4;
	-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;
	-webkit-transition:all .2s ease-in;
	-moz-transition:all .2s ease-in;
	-o-transition:all .2s ease-in;
	transition:all .1s ease-in;
}
.ds-queryInputBox span:first-child {
	margin-right:270px;
}
.ds-queryInputBox span i,.ds-queryInputBox span b {
	display:block;margin:0 auto;
}
.ds-queryInputBox span i.search {
	width:64px;height:64px;
	background:url('../images/searchBtn.png') no-repeat;
}
.ds-queryInputBox span i.alarm {
	width:48px;height:64px;
	background:url('../images/alarmBtn.png') no-repeat;
}
.ds-queryInputBox span b {
	font-weight:normal;font-size:36px;line-height:76px;color:#fff;text-align:center;
}
.ds-queryInputBox span:active {
	-webkit-transform:translateY(3px);
	-moz-transform:translateY(3px);
	-o-transform:translateY(3px);
	transform:translateY(3px);
	box-shadow:inset 0px 0px 10px 0px #40b7ef,0px 0px 0 0px #bebbc4;
}
/*  */
.ds-proceTwo {
	width:210px;
    background:url('../images/selectService.png') no-repeat;
    margin-left:-16px;
}
.ds-proceThree {
	width:180px;margin-left:-16px;
    background:url('../images/bodyConfirm.png') no-repeat;
}
.ds-proceFour {
	 background:url('../images/caseSearch.png') no-repeat;
}
/*  */
.ds-tabProce {
    background:url('../images/proce03.png') no-repeat;
}